.table {
	overflow-x: auto;
}

.table table {
	width: 100%;
	border-collapse: collapse;
}

.table table td, .table table th {
	padding: 15px 20px;
}

.table table td {
	border-top: solid 1px #dedede;
}

.table table thead {
	text-align: left;
}

.table table thead tr {
	background-color: #dedede;
}

.table tbody tr .actions, .table thead tr .actions {
	max-width: 80px;
	text-align: center;
}

.table tbody tr .actions .btn {
	margin: 0 5px;
	padding: 8px 10px;
}