@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

* {
	margin: 0;
	padding: 0;
}

*:focus {
	outline: none;
}

body, html {
	font-family: 'Montserrat';
	height: 100%;
	width: 100%;
	color: #5d6773;
	font-weight: 500;
	font-size: 14px;
}

#root {
	height: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

.btn {
	cursor: pointer;
	background-color: #dedede;
	color: inherit;
	font-weight: inherit;
	border: none;
	border-radius: 10px;
	padding: 12px 20px;
	transition: all 200ms;
}

.btn:hover, .btn:focus, .btn:active {
	background-color: #a6a6a6;
	color: #fff;
}

.btn.btn-red {
	background-color: #ff2f2f;
	color: #fff;
}

.btn.btn-red:hover, .btn.btn-red:focus, .btn.btn-red:active {
	background-color: #ec2929;
}

.pagination-buttons {
	text-align: right;
}

.pagination-buttons .btn {
	margin: 0 5px;
	padding: 10px 12px;
}

.form {
	display: flex;
	flex-direction: column;
}

.form .form-row {
	display: flex;
	flex-direction: row;
	margin: 10px -10px;
}

.form .form-row .form-group {
	flex-grow: 1;
	flex-shrink: 0;
	max-width: 100%;
	margin: 0 10px;
}

.form .form-group {
	display: flex;
	flex-direction: column;
	margin-top: 10px;
	margin-bottom: 10px;
}

.form-group label {
	margin-bottom: 5px;
}

.form-group input, .form-group textarea {
	border: solid 1px #dedede;
	border-radius: 10px;
	padding: 12px 20px;
	color: inherit;
	font-family: inherit;
	font-size: inherit;
}

.form-group input:focus, .form-group textarea:focus {
	border-color: #a6a6a6;
}

.app {
	min-height: 100%;
	width: 100%;
	display: flex;
}

.container {
	flex: 1 1 0;
	max-width: 100%;
	padding: 60px;
}

.container header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.container .content {
	margin-top: 50px;
	display: flex;
	flex-direction: row;
}

.container .content.direction-column {
	flex-direction: column;
}

/* Ocupa todo o espaço restante disponível */
.container .content .column {
	flex: 1 1 0;
	max-width: 100%;
}

/* Ocupa 100% da área */
.container .content .column-4 {
	flex: 0 0 100%;
	max-width: 100%;
}

/* Ocupa 75% da área */
.container .content .column-3 {
	flex: 0 0 75%;
	max-width: 75%;
}

/* Ocupa 50% da área */
.container .content .column-2 {
	flex: 0 0 50%;
	max-width: 50%;
}

/* Ocupa 25% da área */
.container .content .column-1 {
	flex: 0 0 25%;
	max-width: 25%;
}

.justify-center {
	justify-content: center;
}

.justify-start {
	justify-content: flex-start;
}

.justify-end {
	justify-content: flex-end;
}

.justify-between {
	justify-content: space-between;
}

.text-align-center {
	text-align: center;
}

.text-align-left {
	text-align: left;
}

.text-align-right {
	text-align: right;
}
